<a href="https://colab.research.google.com/github/tranhuonggiang22/Data-preparation/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [ ]:
#Ex1
dt_ap = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/aapl.csv', index_col = [0], parse_dates = [0])
dt_am = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/amzn.csv', index_col = [0], parse_dates = [0])
dt_fb = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/fb.csv', index_col = [0], parse_dates = [0])
dt_go = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/goog.csv', index_col = [0], parse_dates = [0])
dt_nf = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/nflx.csv', index_col = [0], parse_dates = [0])

In [ ]:
#a
dt_ap['ticker'] = 'APPL'
dt_am['ticker'] = 'AMZ'
dt_fb['ticker'] =  'FB'
dt_go['ticker'] = 'GOOG'
dt_nf['ticker'] = 'NETF'

faang = pd.concat([dt_ap,dt_am,dt_fb,dt_go,dt_nf], axis = 0, join = 'inner').sort_index()
faang

                   high          low  ...       volume  ticker
date                                  ...
2018-01-02    43.075001    42.314999  ...  102223600.0    APPL
2018-01-02   181.580002   177.550003  ...   18151900.0      FB
2018-01-02  1066.939941  1045.229980  ...    1237600.0    GOOG
2018-01-02  1190.000000  1170.510010  ...    2694500.0     AMZ
2018-01-02   201.649994   195.419998  ...   10966900.0    NETF
...                 ...          ...  ...          ...     ...
2018-12-31   134.639999   129.949997  ...   24625300.0      FB
2018-12-31    39.840000    39.119999  ...  140014000.0    APPL
2018-12-31  1052.699951  1023.590027  ...    1493300.0    GOOG
2018-12-31  1520.760010  1487.000000  ...    6954500.0     AMZ
2018-12-31   270.100006   260.000000  ...   13508900.0    NETF

[1255 rows x 6 columns]

In [ ]:
#b
faang.to_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/faang.csv')
faang

                   high          low  ...       volume  ticker
date                                  ...
2018-01-02    43.075001    42.314999  ...  102223600.0    APPL
2018-01-02   181.580002   177.550003  ...   18151900.0      FB
2018-01-02  1066.939941  1045.229980  ...    1237600.0    GOOG
2018-01-02  1190.000000  1170.510010  ...    2694500.0     AMZ
2018-01-02   201.649994   195.419998  ...   10966900.0    NETF
...                 ...          ...  ...          ...     ...
2018-12-31   134.639999   129.949997  ...   24625300.0      FB
2018-12-31    39.840000    39.119999  ...  140014000.0    APPL
2018-12-31  1052.699951  1023.590027  ...    1493300.0    GOOG
2018-12-31  1520.760010  1487.000000  ...    6954500.0     AMZ
2018-12-31   270.100006   260.000000  ...   13508900.0    NETF

[1255 rows x 6 columns]

In [ ]:
#c
faang.index = pd.to_datetime(faang.index)
faang

                   high          low  ...       volume  ticker
date                                  ...
2018-01-02    43.075001    42.314999  ...  102223600.0    APPL
2018-01-02   181.580002   177.550003  ...   18151900.0      FB
2018-01-02  1066.939941  1045.229980  ...    1237600.0    GOOG
2018-01-02  1190.000000  1170.510010  ...    2694500.0     AMZ
2018-01-02   201.649994   195.419998  ...   10966900.0    NETF
...                 ...          ...  ...          ...     ...
2018-12-31   134.639999   129.949997  ...   24625300.0      FB
2018-12-31    39.840000    39.119999  ...  140014000.0    APPL
2018-12-31  1052.699951  1023.590027  ...    1493300.0    GOOG
2018-12-31  1520.760010  1487.000000  ...    6954500.0     AMZ
2018-12-31   270.100006   260.000000  ...   13508900.0    NETF

[1255 rows x 6 columns]

In [ ]:
#d
faang.sort_values(by=['date','ticker'])
faang

                   high          low  ...       volume  ticker
date                                  ...
2018-01-02    43.075001    42.314999  ...  102223600.0    APPL
2018-01-02   181.580002   177.550003  ...   18151900.0      FB
2018-01-02  1066.939941  1045.229980  ...    1237600.0    GOOG
2018-01-02  1190.000000  1170.510010  ...    2694500.0     AMZ
2018-01-02   201.649994   195.419998  ...   10966900.0    NETF
...                 ...          ...  ...          ...     ...
2018-12-31   134.639999   129.949997  ...   24625300.0      FB
2018-12-31    39.840000    39.119999  ...  140014000.0    APPL
2018-12-31  1052.699951  1023.590027  ...    1493300.0    GOOG
2018-12-31  1520.760010  1487.000000  ...    6954500.0     AMZ
2018-12-31   270.100006   260.000000  ...   13508900.0    NETF

[1255 rows x 6 columns]

In [ ]:
#e
faang.sort_values(by='volume',ascending = True).head(7)

                   high          low         open        close    volume ticker
date
2018-07-03  1135.819946  1100.020020  1135.819946  1102.890015  679000.0   GOOG
2018-11-23  1037.589966  1022.398987  1030.000000  1023.880005  691500.0   GOOG
2018-05-24  1080.469971  1066.150024  1079.000000  1079.239990  766800.0   GOOG
2018-07-10  1159.589966  1149.589966  1156.979980  1152.839966  798400.0   GOOG
2018-08-09  1255.541992  1246.010010  1249.900024  1249.099976  848600.0   GOOG
2018-08-20  1211.000000  1194.625977  1205.020020  1207.770020  870800.0   GOOG
2018-08-22  1211.839966  1199.000000  1200.000000  1207.329956  887400.0   GOOG

In [15]:
#ex2
dt = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 4/covid19_cases.csv')
dt.head()

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  01/01/2020  ...                                                NaN
1  01/01/2020  ...                                                NaN
2  01/01/2020  ...                                                NaN
3  01/01/2020  ...                                                NaN
4  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [31]:
dt['date']=dt.dateRep
dt

               dateRep  ...        date
date                    ...
01/01/2020  01/01/2020  ...  01/01/2020
01/01/2020  01/01/2020  ...  01/01/2020
01/01/2020  01/01/2020  ...  01/01/2020
01/01/2020  01/01/2020  ...  01/01/2020
01/01/2020  01/01/2020  ...  01/01/2020
...                ...  ...         ...
18/09/2020  18/09/2020  ...  18/09/2020
18/09/2020  18/09/2020  ...  18/09/2020
18/09/2020  18/09/2020  ...  18/09/2020
18/09/2020  18/09/2020  ...  18/09/2020
18/09/2020  18/09/2020  ...  18/09/2020

[43443 rows x 13 columns]

In [32]:
dt.set_index('date', inplace = True)

In [33]:
dt

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
18/09/2020  18/09/2020  ...                                          69.220529
18/09/2020  18/09/2020  ...                                         153.513925
18/09/2020  18/09/2020  ...                                         203.088173
18/09/2020  18/09/2020  ...                                           3.546560
18/09/2020  18/09/2020  ...                                           3.031361

[43443 rows x 12 columns]

In [37]:
dt.sort_index().head()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [44]:
dt.replace(to_replace={'United_States_of_America','United_Kingdom'}, value={'USA','UK'}, inplace=True)

dt

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
18/09/2020  18/09/2020  ...                                          69.220529
18/09/2020  18/09/2020  ...                                         153.513925
18/09/2020  18/09/2020  ...                                         203.088173
18/09/2020  18/09/2020  ...                                           3.546560
18/09/2020  18/09/2020  ...                                           3.031361

[43443 rows x 12 columns]

In [40]:
dt.sort_values(by=['countriesAndTerritories'], ascending= True)

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
24/01/2020  24/01/2020  ...                                           0.000000
29/07/2020  29/07/2020  ...                                           4.550263
14/02/2020  14/02/2020  ...                                           0.000000
28/04/2020  28/04/2020  ...                                           2.728581
19/06/2020  19/06/2020  ...                                          24.914727
...                ...  ...                                                ...
09/06/2020  09/06/2020  ...                                           1.577279
06/09/2020  06/09/2020  ...                                           6.445678
04/05/2020  04/05/2020  ...                                           0.061452
21/08/2020  21/08/2020  ...                                           9.217865
30/04/2020  30/04/2020  ...                                           0.075109

[43443 rows x 12 columns]

In [45]:
dt2 = dt[dt.countriesAndTerritories.isin(['Argentina', 'Brazil', 'China', 'Colombia', 'India', 'Italy',
'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA'])]
dt2

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
01/01/2020  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
18/09/2020  18/09/2020  ...                                          61.822634
18/09/2020  18/09/2020  ...                                         203.361408
18/09/2020  18/09/2020  ...                                         159.179230
18/09/2020  18/09/2020  ...                                          33.321987
18/09/2020  18/09/2020  ...                                         300.510940

[3121 rows x 12 columns]

In [49]:
dt3 =dt.pivot(columns='countriesAndTerritories',values='cases').fillna(0)
dt3

countriesAndTerritories  Afghanistan  Albania  Algeria  ...  Yemen  Zambia  Zimbabwe
date                                                    ...
01/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/02/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/03/2020                       0.0      0.0      2.0  ...    0.0     0.0       0.0
01/04/2020                      25.0     20.0    132.0  ...    0.0     0.0       1.0
01/05/2020                     222.0      7.0    158.0  ...    0.0     9.0       0.0
...                              ...      ...      ...  ...    ...     ...       ...
31/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
31/03/2020                      27.0     11.0     73.0  ...    0.0     6.0       0.0
31/05/2020                     866.0     23.0    133.0  ...   23.0     0.0      14.0
31/07/2020                      71.0     92.0    602.0  ...   15.0   306.0     213.0
31/08/2020                      19.0    101.0    364.0  ...    6.0   123.0       6.0

[262 rows x 210 columns]